/*
WARNING: 不要使用格式化代码 (本文件内) / DON'T USE CODE FORMATTER HERE
*/

html {
    font-size: 25px;
    overflow: auto; /* 添加此行 */
}

rt {
    font-size: 0.6em;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* 添加此行 */
}

a {
    display: inline-block;
    text-decoration: none;
}

p {
    font-size: 18px;
}

h1, h2 {
    text-align: left;
}

h1 {
    margin-bottom: 16px;
    font-size: 1.25em;
}

h2 {
    margin: 16px 0 4px 0;
    font-weight: 500;
    font-size: 0.9em;
}

body {
    /* 背景图设置 */
    /*background: url('{{ bg }}') no-repeat left center fixed;*/
    background: url('https://lwi.nexon.com/m_ba/brand/media/img_01.png') no-repeat 25% center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

hr {
    border: none;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 16px 0;
}

.card {
    padding: 44px 56px;

    background-color: rgba(250, 250, 250, 0.85);
    border-radius: 8px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1876);
    backdrop-filter: blur(60px);

    transition: all 0.15s;
}

.card:hover {
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.28);
}

.card .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.setting-card {
    display: flex;
    padding: 13px 15px;
    border-radius: 8px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.08);
    gap: 16px;

    transition: all 0.15s;
}

.setting-card:hover {
    opacity: 0.88;
}

.setting-card .left {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;
}

.setting-card h3 {
    font-weight: normal;
    font-size: 18px;
}

.setting-card .left a, .setting-card .left p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.setting-card .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    padding: 5px 6px;
    font-weight: 500;
    color: #005fb8;
    text-decoration: none;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 5px;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.link svg {
    fill: #005fb8;
    width: 15px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .setting-card {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 675px) {
    .container {
        /*min-width: 600px;*/
        width: 90%;
    }

    .card {
        padding: 40px;
    }
}

@media (min-width: 676px) {
    .container {
        min-width: 600px;
        width: 50%;
    }
}

/* 以下为各种状态的颜色 */

.sleeping {
    color: gray;
    background-color: #f0f0f0;
}

.awake {
    color: #0f7b0f;
    background-color: #DFF6DD;
}

.error {
    color: #c42b1c;
    background-color: #fde7e9;
}

.device-status-using {
    color: #005fb8;
}

.device-status-unused {
    color: gray;
}

#device-status {
    text-align: center;
}

#last-updated {
    margin-top: 32px;
}

#status {
    font-size: 0.7em;
    padding: 4px 12px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    white-space: nowrap;
}

/* 不建议删除上面的 .sleeping .awake .error 三个默认颜色 */